@import "./global/variables";
@import "./global/directionVariablesConfig";

// modules
@import "layout";
[data-scroll-container] {
	min-height: 100dvh;
	&.page {
		padding-top: rem(250);
	}
}
.hero {
	// min-height: calc(100dvh - 9vw);
	padding: rem(200) 0 0;
	min-height: 100dvh;
	display: flex;
	align-items: center;
	background-color: $darkGreen;
	color: $primary;
	overflow: hidden;
	.container {
		@media (min-width: 1200px) {
			padding: 0 3vw;
		}
	}
	&.hover {
		.text {
			> *:not(.text-hover.active) {
				opacity: 0.2;
			}
		}
		.text-hover.active .item {
			opacity: 1;
			visibility: visible;
		}
	}
	.text {
		line-height: 1.2;
		margin: 0 0 rem(40);
		font-size: rem(80);
		> * {
			opacity: 1;
			transition: opacity ease 0.5s;
		}
		&.home {
			font-size: rem(84);
		}
		@media (max-width: 1800px) and (min-width: 767px) {
			font-size: 3.5vw;
			&.home {
				font-size: 4.5vw;
			}
		}
		@media (max-width: 767px) {
			font-size: rem(55) !important;
		}
	}
	a {
		color: $primary;
		font-family: $AeonikLight;
		&:hover {
			color: #fff;
		}
	}
	.un {
		border-bottom: 1px solid;
		padding-bottom: rem(4);
	}
}
.text-hover {
	display: inline-block;
	position: relative;
	z-index: 1;
	.item {
		// display: none;
		visibility: hidden;
		opacity: 0;
		transition: all ease 0.3s;

		position: absolute;
		width: 30vw;
		font-size: rem(20);
		font-family: $AeonikLight;
		padding: rem(20);
		.name {
			position: absolute;
			left: rem(20);
			top: rem(20);
			width: rem(1);
			height: rem(1);
			transform: rotate(90deg) translate(50%, 150%);
		}
		.base-fit::before {
			padding-top: calc(400 / 560 * 100%);
			padding-top: 30vh;
		}
		&:nth-child(1) {
			top: 0;
			right: 0;
			transform: translate(100%, -100%);
		}
		&:nth-child(2) {
			top: 0;
			left: 0;
			transform: translate(-100%, -100%);
		}
		&:nth-child(3) {
			top: 100%;
			right: 0;
			transform: translate(100%, 0%);
		}
		&:nth-child(4) {
			top: 100%;
			left: 0;
			transform: translate(-100%, 0%);
		}
	}
}
.work {
	background-color: $darkGreen;
}
.slideshow-container {
	position: relative;
	width: 100%;
	height: calc(100dvh - #{rem(180)});
	padding: rem(50) 0 rem(100);
	overflow: hidden;
	.slideshow {
		position: relative;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			max-width: 100%;
			max-height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			margin: auto;
			&.active {
				opacity: 1;
			}
		}
	}
}
.filter {
	div + div {
		margin-#{$left}: rem(30);
	}
	button {
		border: 0;
		background-color: transparent;
		font-size: rem(66);
		padding: rem(10) 0;
		white-space: nowrap;
		color: #094d20;
		line-height: 1;
		font-family: $CalvinoGrandeItalic;
		@media (max-width: 767px) {
			font-size: rem(50);
		}
		&:not(.active) {
		}
		&.active {
			border-bottom: 1px solid $primary;
			color: $primary !important;
			padding-top: 0;
		}
		&:hover {
			color: $primary !important;
		}
	}
}
.projects-list {
	padding: rem(30) 0 rem(180);
	// .container {
	// 	padding: 0 rem(27);
	// }
	.list-items {
		margin: 0 rem(-27);
		display: flex;
		flex-wrap: wrap;
	}
	.item {
		width: 50%;
		padding: rem(27);
		transition: padding ease 0.3s;
		@media (max-width: 580px) {
			width: 100%;
		}
		.base-fit::before {
			padding-top: calc(680 / 870 * 100%);
		}
		&:hover {
			padding: rem(15);
		}
	}
}
.project-details {
	.project-title {
		font-size: rem(67);
		font-family: $AeonikMedium;
		color: #012d1f;
		font-weight: 100;
		margin: 0 0 rem(80);
		span {
			font-family: $CalvinoGrandeItalic;
			margin-left: rem(15);
		}
		@media (max-width: 767px) {
			font-size: rem(50);
		}
	}
	.description {
		display: flex;
		justify-content: space-between;
		font-size: rem(20);
		font-family: $AeonikLight;
		line-height: 1.4;
		margin-bottom: rem(75);
		> div {
			width: 48%;
			margin-bottom: rem(30);
		}
		@media (max-width: 992px) {
			flex-direction: column;
			> div {
				width: 100%;
			}
		}
		@media (max-width: 767px) {
			font-size: rem(25);
		}
	}
	.project-images {
		padding-bottom: rem(200);
		> div + div {
			margin-top: rem(15);
		}
		img {
			width: 100%;
			display: block;
		}
	}
	.project-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(25) 0;
		a {
			color: #002d1f;
			font-size: rem(38);
			font-family: $AeonikLight;
			border-bottom: 1px solid #002d1f;
			padding-bottom: rem(4);
			@media (max-width: 767px) {
				font-size: rem(30);
			}
		}
	}
}
.contact-details {
	.row {
		display: flex;
		flex-wrap: wrap;
		@media (min-width: 992px) {
			opacity: 0.2;
		}
		&:hover {
			opacity: 1;
		}
		& + .row {
			margin-top: rem(20);
		}
	}
	.col {
		margin-bottom: rem(30);
		&:first-child {
			font-size: rem(47);
		}
		&:last-child {
			font-size: rem(42);
			line-height: 1.2;
			font-family: $AeonikRegular;
			a {
				font-family: $AeonikRegular;
			}
		}
		ul {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			li {
				margin-bottom: rem(10);
				margin-right: rem(80);
			}
			a {
				padding-bottom: rem(5);
				border-bottom: 1px solid;
			}
		}
		width: 100%;
		@media (min-width: 767px) {
			&:first-child {
				width: 36%;
			}
			&:last-child {
				width: 64%;
			}
		}
		@media (max-width: 767px) {
			&:first-child {
				font-size: rem(40);
			}
			&:last-child {
				font-size: rem(32);
			}
		}
	}
}
.about {
	.about-tags {
		.tag {
			border: 1px solid $primary;
			padding: rem(5) rem(40);
			font-size: rem(20);
			line-height: 1.5;
			border-radius: rem(25);
			& + div {
				margin-left: rem(20);
			}
		}
	}
	.clients {
		margin: rem(100) 0 rem(50);
		.flickity-slider {
			.slide-item {
				width: 20%;
				padding: 0 3%;
				@media (max-width: 1200px) {
					width: 25%;
				}
				@media (max-width: 767px) {
					width: calc(100% / 3);
				}
				// @media (max-width: 480px) {
				// 	width: 35%;
				// }
				> div {
					position: relative;
					&::before {
						content: "";
						padding-top: 50%;
						display: block;
					}
					img {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						max-width: 100%;
						max-height: 100%;
						margin: auto;
					}
				}
			}
		}
	}
}
.about-team {
	padding: 10vw 0;
	.title {
		font-size: 3vw;
		font-family: $AeonikMedium;
		color: #012d1f;
		font-weight: 100;
		margin: 0 0 1.5vw;
		span {
			font-family: $CalvinoGrandeItalic;
			margin-left: 0.7vw;
		}
		@media (max-width: 767px) {
			font-size: rem(50);
		}
	}
	.team {
		margin: 0 rem(-15);
		display: flex;
		flex-wrap: wrap;
		> div {
			padding: rem(15);
			@media (min-width: 1200px) {
				width: 25%;
			}
			@media (max-width: 1199px) {
				width: 33.33%;
			}
			@media (max-width: 767px) {
				width: 50%;
			}
		}
		.member {
			position: relative;
			.base-fit::before {
				padding-top: calc(400 / 430 * 100%);
			}
			.info {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				transition: all 0.3s ease-in-out;
				z-index: 1;
				background-color: rgba($primary, 0.9);
				padding: rem(20);
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				font-size: rem(17);

				opacity: 0;
				transform: scale(0.7);
				backface-visibility: hidden;
				transition:
					transform 0.4s,
					opacity 0.4s;

				p {
					margin: 0;
					font-family: $AeonikMedium;
				}
				.head {
					h4 {
						margin: 0;
						font-family: $CalvinoItalic;
						font-size: rem(42);
					}
				}
				.foot {
					div {
						font-family: $AeonikLight;
					}
				}
			}

			&:hover {
				.info {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
}
